<div id="detection_frame" data-before='<%=  Rails.application.routes.url_helpers.rails_blob_path(@before, only_path: true) %>' data-after='<%=  Rails.application.routes.url_helpers.rails_blob_path(@after, only_path: true) %>'></div>
<%= javascript_pack_tag 'slider' %>
